@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" data-pvr-enable="true">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script src="~/js/pollveriser-full.js" asp-append-version="true"></script>
}